<p>nav works!</p>
<nav>
<button type="button" class="btn btn-primary btn-sm mx-2" routerLink="databinding">Data Binding</button>

<button type="button" class="btn btn-primary btn-sm mx-2" routerLink="directive">Directive</button>

<button type="button" class="btn btn-primary btn-sm mx-2" routerLink="angform">angform</button>

<button type="button" class="btn btn-primary btn-sm mx-2" routerLink="footer">footer</button>

<button type="button" class="btn btn-primary btn-sm mx-2" routerLink="technology">Technology</button>

<button type="button" class="btn btn-primary btn-sm mx-2" routerLink="pipes">Pipes</button>



</nav>

